
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product.name %></td>
        <td><%= image_tag(order.product.photo, class: "img-responsive", width: 100) %></td>
        <td><%= order.product.price %></td>
        <td><%= order.product.category.name %></td>
        <!-- <td><%= link_to 'Agregar', product %></td> -->
    <!-- <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-default btn-lg">
<span class="glyphicon glyphicon-ok" aria-hidden="true">Place Order</span>
</button>